@import "../global/palette.scss";

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;

  &__blurryDiv {
    z-index: 6;
    background-color: black;
    opacity: 50%;
    position: fixed;
    width: 99.7vw;
    height: 400vh;
  }

}

.noDiv {
  z-index: 0;
  height: 0;
  width: 0;
}