@import "../../components/AttributeList/AttributeSetList.module.scss";

.main{

    &__attrSetBox{
        display: flex;
        flex-direction: column;
        width: 98%;
        font-family: "Raleway";
        gap: 0.6vh;
        padding-left: 5px;
        margin: 0.5vh 0vw 0.5vh 0vw;
        font-family: "Raleway",sans-serif;
        font-weight: 800;
        font-size: 1.3em;
        
        &__attrID{
            width: 8vw;
            
        }

        &__attrSet{
            display: flex;
            
        }
    }
}